/* common */
body {
  background-color: #eeeeee;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0;
}

.header-left {
  display: flex;
}

.header__icon {
  font-size: 20px;
  background-color: #305dff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
  color: #ffffff;
  margin-right: 20px;
}

.header__title {
  color: #305dff;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
}

.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
}

.flex {
  display: flex;
}

.spacebtw {
  display: flex;
  justify-content: space-between;
}

/* register.blade.php */
.box__title {
  background-color: #305dff;
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.box__contents {
  padding: 20px 30px;
}

.box__contents-item {
  margin-bottom: 20px;
}

.box__contents-item--icon {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  color: #4b4b4b;
  width: 30px;
  text-align: center;
}

.box__contents-item--input {
  font-size: 18px;
  border: none;
  color: #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
  width: 300px;
}

.blue-btn {
  background-color: #305dff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
}

.right {
  margin: 0 0 0 auto;
}

/* thanks.blade.php */
.flex-column {
  display: flex;
  flex-direction: column;
}

.box__contents-text {
  font-weight: normal;
  font-size: 20px;
  margin: 50px 20px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.mb50 {
  margin-bottom: 50px;
}

/* shop_all.blade.php */
.search-box {
  background-color: #ffffff;
}

.p10 {
  padding: 0 10px;
}

.align-center {
  display: flex;
  align-items: center;
}

.search-box__select {
  border: none;
  padding-right: 20px;
  color: #4b4b4b;
}

.gray-bar {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: #eeeeee;
  margin: 0 10px;
}

.search-box__input {
  border: none;
  color: #4b4b4b;
}

.shop-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 100px;
}

.shop-card {
  background-color: #ffffff;
  height: 280px;
  width: 22%;
  border-radius: 5px;
  margin: 20px 10px;
}

.shop-card__top {
  height: 50%;
}

.shop-card__image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.h18 {
  height: 18px;
}

.shop-card__content {
  padding: 20px;
}

.shop-card__name {
  margin-bottom: 10px;
}

.shop-card__tag--area {
  margin-right: 10px;
}

.mt20 {
  margin-top: 20px;
}

.shop-card__like {
  color: #eeeeee;
  background-color: #ffffff;
  border: none;
  font-size: 40px;
}

.red {
  color: #ff0000;
}