body {
  background-color: #eeeeee;
}

/* common elements*/
.blue-btn {
  background-color: #305dff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.blue-btn:hover {
  background-color: #4d7fff;
  color: #ffffff;
  transition: .5s;
}

.request-text {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  color: #696969;
  display: inline-block;
}

.booking-error {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  color: #ff0000;
  display: inline-block;
}

.flash_message {
  margin-bottom: 20px;
  background-color: #F0FFF0;
  padding: 20px;
  border-radius: 5px;
  color: #3CB371;
  display: inline-block;
}

.shop-card {
  border-radius: 5px;
  padding-bottom: 15px;
  margin: 0 10px 40px;
  background-color: #ffffff;
}

.shop-card__top {
  height: 50%;
}

.shop-card__image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.shop-card__content {
  display: block;
  padding: 20px 20px 0;
}

.shop-card__name {
  margin-bottom: 10px;
}

.shop-card__tag--area {
  margin-right: 10px;
}

.shop-card__like {
  color: #eeeeee;
  background-color: #ffffff;
  border: none;
  font-size: 40px;
}

.shop-card__like--red {
  color: #ff0000;
  background-color: #ffffff;
  border: none;
  font-size: 40px;
}

/* common colors, sizes, positions */
.red {
  color: #ff0000;
}

.h18 {
  height: 18px;
}

.w20 {
  width: 20px;
}

.w40 {
  width: 40px;
}

.w22p {
  width: 22%;
}

.w40p {
  width: 40%;
}

.w45p {
  width: 45%;
}

.w48p {
  width: 48%;
}

.w55p {
  width: 55%;
}

.w95p {
  width: 95%;
}

.w100p {
  width: 100%;
}

.p10 {
  padding: 0 10px;
}

.prpl200 {
  padding: 0 200px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

.right {
  margin: 0 0 0 auto;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.spacebtw {
  display: flex;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.align-center {
  display: flex;
  align-items: center;
}

.flex-end {
  display: flex;
  align-items: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1150px) {
  .w100p1150 {
    width: 100%;
  }
  .w45p1150 {
    width: 45%;
  }
  .mb30_1150 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .w100p768 {
    width: 100%;
  }
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0;
}
@media screen and (max-width: 1150px) {
  .header {
    display: block;
    padding: 50px 50px 0;
  }
}

.header-left {
  display: flex;
}

.header__title {
  color: #305dff;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  margin-left: 40px;
}
@media screen and (max-width: 1150px) {
  .header__title {
    margin-left: 30px;
  }
}

/* header icon */
.header__icon {
  display: inline-block;
  cursor: pointer;
  position: relative;
  left: 20px;
  background-color: #305dff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .header__icon {
    left: 10px;
  }
}

.icon__line--top,
.icon__line--middle,
.icon__line--bottom {
  display: inline-block;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  transition: 0.5s;
}

.icon__line--top {
  top: 10px;
}

.icon__line--middle {
  top: 19px;
}

.icon__line--bottom {
  top: 28px;
}

.header__icon.open span:nth-of-type(1) {
  top: 19px;
  transform: rotate(45deg);
}

.header__icon.open span:nth-of-type(2) {
  opacity: 0;
}

.header__icon.open span:nth-of-type(3) {
  top: 19px;
  transform: rotate(-45deg);
}

/* drawer-menu */
.drawer-menu {
  position: absolute;
    top: 0px;
  height: 100vh;
  width: 100%;
  left: -100%;
  background-color: #ffffff;
  transition: .5s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer-menu__item {
  color: #305dff;
  text-decoration: none;
  display: inline-block;
  margin: 30px 0;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 32px;
  padding: 0;
}

.in {
  transform: translateX(100%)
}

/* register.blade.php */
/* login.blade.php */
.box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
}

.box__title {
  background-color: #305dff;
  border-radius: 5px 5px 0 0;
  color: white;
  padding: 20px;
  font-size: 20px;
}

.box__contents {
  padding: 20px 30px;
}

.box__contents-item {
  margin-bottom: 20px;
}

.box__contents-item--icon {
  display: inline-block;
  font-size: 25px;
  margin-right: 10px;
  color: #4b4b4b;
  width: 30px;
  text-align: center;
}

.box__contents-item--input {
  font-size: 18px;
  border: none;
  color: #4b4b4b;
  border-bottom: 1px solid #4b4b4b;
  width: 300px;
}

/* thanks.blade.php */
.box__contents-text {
  font-weight: normal;
  font-size: 20px;
  margin: 50px 20px;
}

.box__contents-text--btm{
  margin: 0 20px 50px;
}

/* shop_all.blade.php */
.search-box {
  background-color: #ffffff;
  padding: 5px 10px;
  display: flex;
}
@media screen and (max-width: 1150px) {
  .search-box {
    margin: 20px 40px 0;
    display: block;
  }
}

.search-box__row {
  display: flex;
}
@media screen and (max-width: 1150px) {
  .search-box__row {
    display: flex;
    align-items: center;
  }
}

.search-box__select {
  border: none;
  padding-right: 20px;
  color: #4b4b4b;
  width: 45%;
}
@media screen and (max-width: 1150px) {
  .search-box__select {
    padding: 0 20px;
  }
}

.gray-bar--left {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: #eeeeee;
  margin: auto 10px;
}

.gray-bar--right {
  display: inline-block;
  width: 2px;
  height: 25px;
  background-color: #eeeeee;
  margin: auto 10px;
}
@media screen and (max-width: 1150px) {
  .gray-bar--right {
    width: 0px;
  }
}

.search-box__search-icon {
  margin: auto 10px auto 0;
  color: #4b4b4b;
}
@media screen and (max-width: 1150px) {
  .search-box__search-icon {
    margin: auto 10px auto 20px;
  }
}

.search-box__input {
  border: none;
  color: #4b4b4b;
  background-color: rgba(0, 0, 0, 0);
}

.shop-search-btn {
  padding: 5px 10px;
  margin-right: 0;
  margin-left: auto;
}

.shop-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 100px;
}
@media screen and (max-width: 768px) {
  .shop-card-wrapper {
    margin: 30px 50px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

/* shop_detail.blade.php */
.detail__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}
@media screen and (max-width: 768px){
  .detail__wrapper {
    justify-content: flex-start;
    flex-direction: column;
    margin: 50px;
  }
}

.detail__back-btn {
  display: flex;
  width: 32px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
  color: #000000;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.detail__shop-name {
  font-size: 32px;
  margin-left: 10px;
}

.detail__shop-img {
  width: 100%;
  height: auto;
  margin: 30px 0;
}

.booking-form {
  background-color: #305dff;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 768px) {
  .booking-form {
    margin-top: 30px;
  }
}

.booking-form__title {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
}

.booking-form__input {
  height: 30px;
  border-radius: 5px;
  display: block;
  margin-bottom: 20px;
  border: none;
  padding: 0 0 0 5px;
}

.booking-confirmation__wrapper {
  width: 90%;
  background-color: #4d7fff;
  padding: 30px 0 10px;
  border-radius: 5px;
}

.booking-confirmation {
  width: 100%;
  text-align: left;
  color: #ffffff;
}

.booking-cfm__item-title {
  padding: 0px 20px 20px;
  width: 30%;
}

.booking-form__btn {
  border: none;
  background-color: #0538ff;
  color: white;
  text-align: center;
  border-radius: 0 0 5px 5px;
  width: 100%;
  padding: 20px 30px;
  font-size: 20px;
}

.booking-form__btn:hover {
  background-color: #4464f4;
  color: #ffffff;
  transition: .5s;
}

/* mypage.blade.php */
.mypage__top {
  font-size: 28px;
  margin: 30px 0px 30px 200px;
}
@media screen and (max-width: 1150px) {
  .mypage__top {
    margin: 30px 50px 30px;
  }
}

.mypage__content-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
}
@media screen and (max-width: 1150px) {
  .mypage__content-wrapper {
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 50px;
  }
}

.mypage__content-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.mypage-booking-card {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .5);
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
}

.mypage-booking__card-top {
  background-color: #305dff;
  padding: 30px;
  border-radius: 5px 5px 0 0;
}

.mypage-booking__icon {
  font-size: 28px;
  color: #ffffff;
  background-color: #305dff;
  border: none;
}

.mypage-booking__card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.mypage-booking__card-title {
  color: white;
  margin-left: 20px;
  font-size: 20px;
  vertical-align: text-bottom;
}

.mypage-booking__content {
  color: white;
  text-align: left;
}

.mypage-booking__content-head {
  padding: 20px 20px 0;
  font-size: 16px;
  height: 30px;
}

.mypage-booking__input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px;
}

.mypage-booking__change-btn {
  background-color: #0538ff;
  border-radius: 0 0 5px 5px;
  border: none;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

.mypage-booking__change-btn:hover {
  background-color: #4464f4;
  color: #ffffff;
  transition: .5s;
}

/* admin.blade.php */
.admin__content-wrapper {
  margin: 30px 150px;
}

.admin__header-right {
  color: #305dff;
  text-decoration: none;
  font-size: 20px;
  border: #305dff 1px solid;
  font-weight: normal;
  border-radius: 5px;
  padding: 9px;
}

.admin__content-title {
  margin-bottom: 10px;
  font-size: 20px;
}

.admin__table {
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.admin__table-head {
  text-align: left;
  font-weight: normal;
}

.admin__error {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
}

/* rep.blade.php */
.rep__top-name {
  display: block;
  margin: 30px 0;
  font-size: 26px;
}

.rep-shop__container {
  border: #000000 1px solid;
  padding: 40px;
}

.rep-shop__title {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: normal;
}

.rep-shop__image {
  width: 100%;
  object-fit: cover;
}

.rep-shop__info-head {
  width: 80px;
  text-align: left;
  padding: 20px 0 0;
}

.rep-booking__container {
  padding: 30px 0;
}

.rep-booking__title {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: #000000 1px solid;
}

.rep-booking__table {
  border-collapse: separate;
  border-spacing: 20px 10px;
  text-align: left;
}

